Flask==3.0.3
pytest==8.3.3
pytest-mock==3.14.0
pypdf==5.5.0
pytesseract==0.3.13
pillow==11.2.1
docx2txt==0.9
transformers==4.51.3
torch==2.2.1
numpy==1.26.4
filetype==1.2.0
rapidfuzz==3.13.0
gunicorn
pdf2image==1.17.0
pandas==2.2.3
openpyxl==3.1.5